
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR-ELoJXb5MO5V2b1D7NKPWicvm7IjTLSFlA&s');
    background-size: 100% 110%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 230px;
}


header {
    background: #412626;
    color: #fcfbfb;
    padding: 10px 4;
    text-align: center;
    border-radius: 10px;
    max-width: 200px;
    margin: 10px auto;
}


.formulario-usuario {
    background: #fdfdfd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
}

.formulario-usuario label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.formulario-usuario input {
    width: 100%;
    padding:10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.formulario-usuario button {
    background-color: #000307;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.formulario-usuario button:hover {
    background-color: #0056b3;
}


footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.rodape {
    color: #fdfbfb;
}
